# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Documentação
docs/visuals/captures/

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# IDEs and Editors
.obsidian/
.idea/
.vscode/
*.swp
*.swo
*~
.directory

# Operating System
Thumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
._*

# Project specific
*.log
tmp/
.obsidian/workspace.json
